# Part 1: Connecting to CityBikes API
---

# CityBikes

In [88]:
# imports
import requests
import pandas as pd

Send a request to CityBikes for the city of your choice.
___

In [5]:
url = 'http://api.citybik.es/v2/networks/sobi-hamilton'

response = requests.get(url)
response_data = response.json()

Parse through the response to get the details you want for the bike stations in that city (latitude, longitude, number of bikes).
___

In [81]:
# exploring the response
print(type(response_data))
print(type(response_data['network']['stations']))
response_data['network']['stations'][0].keys()

<class 'dict'>
<class 'list'>

dict_keys(['empty_slots', 'extra', 'free_bikes', 'id', 'latitude', 'longitude', 'name', 'timestamp'])

In [82]:
# exploring the data from a single station 
response_data['network']['stations'][10]

{'empty_slots': 31,
 'extra': {'address': '88 Forsyth Avenue North, Hamilton',
  'last_updated': 1701354866,
  'payment': ['key',
   'applepay',
   'androidpay',
   'transitcard',
   'accountnumber',
   'phone'],
  'payment-terminal': False,
  'renting': 1,
  'returning': 1,
  'uid': 'hub_894'},
 'free_bikes': 4,
 'id': '2a91db522d9c3f209772a8f35b8ee4e1',
 'latitude': 43.26271404114188,
 'longitude': -79.91580605506897,
 'name': 'Forsyth at Sterling',
 'timestamp': '2023-11-30T15:37:38.492000Z'}

Put your parsed results into a DataFrame.
___

In [89]:
subset_response_data = response_data['network']['stations']
bike_stations = pd.json_normalize(subset_response_data)

# drop unnecessary columns
columns_to_drop = list(bike_stations.columns[6:])
bike_stations = bike_stations.drop(columns=columns_to_drop)

In [84]:
bike_stations.head()

,empty_slots,free_bikes,id,latitude,longitude,name
0,9,3,45dbb0009135e465f49f054517cbe74d,43.259126,-79.877212,Hess at king
1,32,3,cd881edad122a75c57d94b381cdfc6c0,43.269288,-79.871327,Bayfront Park
2,18,6,024a3edf037cb411d16acc08a7fcb954,43.267859,-79.867923,Bay at Strachan
3,9,4,b933317ff2861c45aacbea4cbf4b541f,43.263198,-79.871803,Bay at Mulberry
4,9,8,20dc109608315db09a8332d6e6940c75,43.256132,-79.874499,City Hall

In [85]:
bike_stations.shape

(145, 6)

In [86]:
bike_stations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145 entries, 0 to 144
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   empty_slots  145 non-null    int64
 1   free_bikes   145 non-null    int64
 2   id           145 non-null    object
 3   latitude     145 non-null    float64
 4   longitude    145 non-null    float64
 5   name         145 non-null    object
dtypes: float64(2), int64(2), object(2)
memory usage: 6.9+ KB

In [ ]:
#save data to use in another notebook 
bike_stations.to_csv('../data/bike_stations_hamilton.csv')